In [2]:
%load_ext sql

In [49]:
from sqlalchemy import create_engine
from IPython.display import display

In [5]:
engine = create_engine('postgresql://ns:ns_pass@localhost/moodle')

In [7]:
%sql postgresql://ns:ns_pass@localhost/moodle

'Connected: ns@moodle'

In [27]:
%%sql

select count(*)
from information_schema.tables
where table_schema = 'public';

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(448,)]

In [57]:
mit = ['mdl_logstore_standard_log', 'mdl_context', 'mdl_user', 'mdl_course', 'mdl_modules' , 'mdl_course_modules', 'mdl_course_modules_completion',
       'mdl_grade_items', 'mdl_grade_grades', 'mdl_grade_categories', 'mdl_grade_items_history', 'mdl_grade_grades_history', 
       'mdl_grade_categories_history', 'mdl_forum', 'mdl_forum_discussions', 'mdl_forum_posts']

# %load_ext sql
def table_count(table):
    count = %sql select count(*) as {table}_count from {table}
    return count

for table in mit:
    display(table_count(table))

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(417554,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(4359,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(1052,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(15,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(26,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(290,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(4483,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(113,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(3643,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(16,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(486,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(7108,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(46,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(34,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(23,)]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(131,)]

In [29]:
%%sql

SELECT Extract(HOUR FROM to_timestamp(timecreated)) AS hour, count(*) 
FROM mdl_logstore_standard_log where action='submitted' AND component like '%quiz%' GROUP BY hour;

 * postgresql://ns:***@localhost/moodle
24 rows affected.

[(0.0, 26),
 (1.0, 23),
 (2.0, 30),
 (3.0, 29),
 (4.0, 7),
 (5.0, 14),
 (6.0, 10),
 (7.0, 18),
 (8.0, 17),
 (9.0, 34),
 (10.0, 46),
 (11.0, 69),
 (12.0, 95),
 (13.0, 88),
 (14.0, 104),
 (15.0, 90),
 (16.0, 80),
 (17.0, 68),
 (18.0, 68),
 (19.0, 70),
 (20.0, 57),
 (21.0, 55),
 (22.0, 46),
 (23.0, 53)]

In [35]:
%%sql

SELECT id, lastaccess - firstaccess AS usagetime,
EXTRACT(MONTH FROM to_timestamp (firstaccess)) AS Month
FROM mdl_user WHERE confirmed = 1 AND deleted = 0 LIMIT 10;

 * postgresql://ns:***@localhost/moodle
10 rows affected.

[(1, 0, 1.0),
 (20, 13189566, 2.0),
 (15, 13903766, 2.0),
 (36, 9586676, 2.0),
 (44, 10458089, 2.0),
 (8, 1830649, 1.0),
 (13, 0, 1.0),
 (98, 12944059, 2.0),
 (28, 0, 1.0),
 (12, 0, 1.0)]

In [59]:
actions = ['loggedin', 'viewed', 'started', 'submitted', 'uploaded', 'updated', 
 'searched', 'resumed', 'answered', 'attempted', 'abandoned']

def event_count(action):
    count = %sql SELECT userid, COUNT(action) AS {action}_count FROM mdl_logstore_standard_log WHERE action='{action}' GROUP BY userid limit 5
    return count

for action in actions:
    display(event_count(action))

 * postgresql://ns:***@localhost/moodle
5 rows affected.

[(1, 1), (2, 169), (3, 107), (5, 54), (7, 3)]

 * postgresql://ns:***@localhost/moodle
5 rows affected.

[(0, 5305), (1, 2), (2, 2492), (3, 4041), (5, 694)]

 * postgresql://ns:***@localhost/moodle
5 rows affected.

[(2, 14), (3, 17), (5, 11), (7, 2), (8, 1)]

 * postgresql://ns:***@localhost/moodle
5 rows affected.

[(2, 21), (3, 2), (5, 5), (9, 8), (16, 1)]

 * postgresql://ns:***@localhost/moodle
5 rows affected.

[(2, 21), (3, 6), (5, 1), (42, 1), (44, 1)]

 * postgresql://ns:***@localhost/moodle
5 rows affected.

[(0, 649), (2, 2551), (3, 1467), (5, 19), (7, 1)]

 * postgresql://ns:***@localhost/moodle
5 rows affected.

[(84, 2), (246, 1), (253, 1), (266, 2), (294, 1)]

 * postgresql://ns:***@localhost/moodle
5 rows affected.

[(3, 4), (5, 2), (9, 1), (25, 10), (39, 4)]

 * postgresql://ns:***@localhost/moodle
5 rows affected.

[(5, 2), (9, 4), (25, 6), (38, 1), (39, 1)]

 * postgresql://ns:***@localhost/moodle
0 rows affected.

[]

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(2, 5)]

In [60]:
class DBHandler():
    def __init__(self):
        pass
    
    def open_local_db(self,**kwargs):
        #
        user = kwargs.get('user','ns')
        password = kwargs.get('password', 'ns_pass')
        db = kwargs.get('db','moodle')
        #
        try:
            params = dict(user=user,
                          password=password,
                          host = "127.0.0.1",
                          #port = "5432",
                          database = db)
            proot = 'postgresql://{user}:{password}@{host}/{database}'.format(**params)
            #print(proot)
#             logger.info('Connecting to the PostgreSQL database...using sqlalchemy engine')
            engine = create_engine(proot)
            #
        except (Exception, psycopg2.Error) as error :
            logger.error(f"Error while connecting to PostgreSQL {error}")
        self.dbisopen = True
        return engine
    
    def num_forum_posts(self):
        count = %sql select count(*) from mdl_forum_posts
        return count
    
    def overall_grade(self):
        overall = %sql select userid, round(SUM(finalgrade)/count(*), 2) as overall_grade from mdl_grade_grades Where finalgrade is not null group by userid
        return overall

In [61]:
db = DBHandler()
db.open_local_db()

Engine(postgresql://ns:***@127.0.0.1/moodle)

In [62]:
db.num_forum_posts()

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(131,)]

In [63]:
db.overall_grade()

 * postgresql://ns:***@localhost/moodle
402 rows affected.

[(351, Decimal('69.67')),
 (87, Decimal('100.00')),
 (184, Decimal('100.00')),
 (116, Decimal('72.89')),
 (273, Decimal('100.00')),
 (394, Decimal('0.00')),
 (51, Decimal('48.53')),
 (272, Decimal('51.00')),
 (70, Decimal('100.00')),
 (190, Decimal('135.92')),
 (278, Decimal('71.11')),
 (176, Decimal('100.00')),
 (169, Decimal('100.00')),
 (299, Decimal('51.25')),
 (92, Decimal('100.00')),
 (541, Decimal('50.50')),
 (436, Decimal('2.00')),
 (180, Decimal('83.47')),
 (292, Decimal('100.00')),
 (236, Decimal('69.33')),
 (22, Decimal('100.00')),
 (271, Decimal('57.33')),
 (263, Decimal('72.89')),
 (156, Decimal('71.19')),
 (197, Decimal('100.00')),
 (135, Decimal('52.00')),
 (470, Decimal('100.00')),
 (759, Decimal('75.00')),
 (879, Decimal('97.00')),
 (227, Decimal('100.00')),
 (775, Decimal('195.08')),
 (282, Decimal('46.93')),
 (390, Decimal('91.67')),
 (173, Decimal('100.00')),
 (149, Decimal('46.13')),
 (269, Decimal('100.00')),
 (73, Decimal('76.07')),
 (261, Decimal('100.00')),
 (103, Decimal('64.67')),
 (502, Decimal('2.00')),
 (280, Decimal('82.14')),
 (42, Decimal('167.78')),
 (189, Decimal('74.96')),
 (117, Decimal('100.00')),
 (239, Decimal('100.00')),
 (161, Decimal('47.73')),
 (121, Decimal('43.73')),
 (88, Decimal('136.05')),
 (420, Decimal('58.17')),
 (188, Decimal('52.00')),
 (113, Decimal('100.00')),
 (125, Decimal('100.00')),
 (257, Decimal('100.00')),
 (40, Decimal('73.11')),
 (240, Decimal('100.00')),
 (328, Decimal('160.39')),
 (43, Decimal('48.27')),
 (196, Decimal('100.00')),
 (120, Decimal('71.56')),
 (291, Decimal('71.56')),
 (15, Decimal('100.00')),
 (440, Decimal('102.89')),
 (226, Decimal('100.00')),
 (210, Decimal('61.62')),
 (843, Decimal('43.73')),
 (48, Decimal('64.67')),
 (349, Decimal('48.53')),
 (187, Decimal('100.00')),
 (914, Decimal('53.00')),
 (842, Decimal('196.88')),
 (298, Decimal('100.00')),
 (57, Decimal('73.20')),
 (81, Decimal('100.00')),
 (19, Decimal('100.00')),
 (61, Decimal('41.89')),
 (244, Decimal('100.00')),
 (160, Decimal('52.00')),
 (721, Decimal('100.00')),
 (242, Decimal('64.19')),
 (331, Decimal('50.50')),
 (251, Decimal('100.00')),
 (204, Decimal('100.00')),
 (104, Decimal('100.00')),
 (266, Decimal('167.87')),
 (5, Decimal('57.24')),
 (171, Decimal('100.00')),
 (307, Decimal('2.00')),
 (397, Decimal('0.00')),
 (91, Decimal('100.00')),
 (427, Decimal('163.48')),
 (786, Decimal('55.56')),
 (283, Decimal('100.00')),
 (347, Decimal('158.30')),
 (29, Decimal('100.00')),
 (179, Decimal('41.87')),
 (54, Decimal('54.50')),
 (686, Decimal('60.00')),
 (297, Decimal('100.00')),
 (181, Decimal('100.00')),
 (361, Decimal('66.00')),
 (96, Decimal('100.00')),
 (201, Decimal('168.03')),
 (303, Decimal('7.00')),
 (844, Decimal('10.00')),
 (105, Decimal('43.60')),
 (107, Decimal('71.67')),
 (233, Decimal('72.11')),
 (866, Decimal('141.10')),
 (220, Decimal('100.00')),
 (86, Decimal('46.80')),
 (400, Decimal('9.00')),
 (991, Decimal('100.00')),
 (93, Decimal('100.00')),
 (89, Decimal('100.00')),
 (373, Decimal('8.00')),
 (219, Decimal('100.00')),
 (1025, Decimal('245.45')),
 (175, Decimal('100.00')),
 (252, Decimal('100.00')),
 (241, Decimal('40.67')),
 (31, Decimal('100.00')),
 (363, Decimal('180.15')),
 (723, Decimal('55.00')),
 (285, Decimal('100.00')),
 (50, Decimal('82.52')),
 (253, Decimal('100.00')),
 (581, Decimal('125.52')),
 (14, Decimal('100.00')),
 (66, Decimal('100.00')),
 (231, Decimal('100.00')),
 (340, Decimal('166.43')),
 (109, Decimal('100.00')),
 (356, Decimal('100.00')),
 (13, Decimal('100.00')),
 (155, Decimal('100.00')),
 (133, Decimal('61.24')),
 (195, Decimal('100.00')),
 (199, Decimal('50.50')),
 (372, Decimal('62.38')),
 (75, Decimal('100.00')),
 (246, Decimal('167.56')),
 (369, Decimal('123.08')),
 (128, Decimal('100.00')),
 (714, Decimal('55.00')),
 (339, Decimal('10.00')),
 (243, Decimal('100.00')),
 (166, Decimal('100.00')),
 (344, Decimal('143.97')),
 (142, Decimal('100.00')),
 (924, Decimal('166.00')),
 (410, Decimal('183.71')),
 (534, Decimal('0.00')),
 (152, Decimal('100.00')),
 (428, Decimal('48.53')),
 (591, Decimal('53.88')),
 (383, Decimal('128.18')),
 (230, Decimal('100.00')),
 (747, Decimal('7.33')),
 (7, Decimal('100.00')),
 (301, Decimal('63.05')),
 (222, Decimal('69.56')),
 (381, Decimal('110.18')),
 (38, Decimal('56.00')),
 (757, Decimal('46.80')),
 (359, Decimal('100.00')),
 (193, Decimal('100.00')),
 (777, Decimal('27.78')),
 (164, Decimal('100.00')),
 (254, Decimal('70.60')),
 (377, Decimal('149.28')),
 (78, Decimal('51.00')),
 (453, Decimal('72.44')),
 (922, Decimal('100.00')),
 (159, Decimal('72.89')),
 (217, Decimal('174.96')),
 (186, Decimal('100.00')),
 (250, Decimal('63.62')),
 (47, Decimal('100.00')),
 (177, Decimal('100.00')),
 (20, Decimal('53.00')),
 (865, Decimal('196.10')),
 (750, Decimal('6.00')),
 (319, Decimal('0.00')),
 (182, Decimal('50.87')),
 (517, Decimal('9.33')),
 (106, Decimal('100.00')),
 (18, Decimal('100.00')),
 (110, Decimal('100.00')),
 (178, Decimal('100.00')),
 (145, Decimal('70.96')),
 (129, Decimal('100.00')),
 (27, Decimal('100.00')),
 (143, Decimal('72.07')),
 (203, Decimal('55.50')),
 (58, Decimal('68.61')),
 (228, Decimal('156.03')),
 (789, Decimal('100.00')),
 (346, Decimal('44.53')),
 (294, Decimal('111.69')),
 (71, Decimal('72.00')),
 (267, Decimal('100.00')),
 (229, Decimal('100.00')),
 (68, Decimal('100.00')),
 (80, Decimal('69.89')),
 (146, Decimal('44.00')),
 (52, Decimal('52.50')),
 (930, Decimal('245.45')),
 (607, Decimal('150.07')),
 (382, Decimal('171.40')),
 (162, Decimal('100.00')),
 (258, Decimal('73.00')),
 (341, Decimal('184.59')),
 (378, Decimal('48.53')),
 (132, Decimal('68.67')),
 (738, Decimal('100.00')),
 (84, Decimal('71.56')),
 (170, Decimal('159.07')),
 (192, Decimal('100.00')),
 (276, Decimal('100.00')),
 (101, Decimal('100.00')),
 (237, Decimal('54.00')),
 (69, Decimal('54.50')),
 (262, Decimal('66.52')),
 (348, Decimal('48.53')),
 (375, Decimal('52.00')),
 (114, Decimal('100.00')),
 (115, Decimal('71.85')),
 (60, Decimal('67.67')),
 (97, Decimal('100.00')),
 (238, Decimal('100.00')),
 (112, Decimal('100.00')),
 (108, Decimal('51.00')),
 (729, Decimal('100.00')),
 (59, Decimal('100.00')),
 (268, Decimal('73.78')),
 (289, Decimal('72.89')),
 (737, Decimal('100.00')),
 (65, Decimal('33.67')),
 (127, Decimal('100.00')),
 (124, Decimal('100.00')),
 (615, Decimal('103.67')),
 (98, Decimal('74.50')),
 (567, Decimal('66.08')),
 (200, Decimal('100.00')),
 (44, Decimal('64.19')),
 (235, Decimal('72.44')),
 (82, Decimal('100.00')),
 (119, Decimal('100.00')),
 (306, Decimal('8.00')),
 (286, Decimal('68.48')),
 (376, Decimal('47.73')),
 (153, Decimal('55.50')),
 (279, Decimal('100.00')),
 (147, Decimal('114.53')),
 (480, Decimal('194.00')),
 (214, Decimal('100.00')),
 (202, Decimal('100.00')),
 (9, Decimal('70.67')),
 (79, Decimal('100.00')),
 (989, Decimal('194.67')),
 (26, Decimal('100.00')),
 (85, Decimal('100.00')),
 (72, Decimal('100.00')),
 (945, Decimal('54.50')),
 (281, Decimal('100.00')),
 (95, Decimal('167.37')),
 (1041, Decimal('51.00')),
 (232, Decimal('100.00')),
 (77, Decimal('100.00')),
 (259, Decimal('164.22')),
 (302, Decimal('100.00')),
 (172, Decimal('100.00')),
 (409, Decimal('51.50')),
 (30, Decimal('100.00')),
 (288, Decimal('100.00')),
 (21, Decimal('100.00')),
 (131, Decimal('53.50')),
 (3, Decimal('100.00')),
 (17, Decimal('100.00')),
 (198, Decimal('75.00')),
 (28, Decimal('100.00')),
 (37, Decimal('100.00')),
 (212, Decimal('100.00')),
 (1027, Decimal('183.76')),
 (917, Decimal('66.67')),
 (249, Decimal('100.00')),
 (353, Decimal('55.58')),
 (489, Decimal('51.00')),
 (255, Decimal('72.44')),
 (165, Decimal('124.69')),
 (813, Decimal('54.50')),
 (56, Decimal('71.89')),
 (151, Decimal('53.00')),
 (209, Decimal('73.78')),
 (296, Decimal('71.11')),
 (74, Decimal('100.00')),
 (138, Decimal('46.93')),
 (225, Decimal('47.07')),
 (245, Decimal('100.00')),
 (205, Decimal('100.00')),
 (83, Decimal('100.00')),
 (67, Decimal('45.47')),
 (63, Decimal('100.00')),
 (90, Decimal('153.86')),
 (216, Decimal('100.00')),
 (174, Decimal('42.93')),
 (45, Decimal('167.08')),
 (443, Decimal('100.00')),
 (387, Decimal('195.35')),
 (295, Decimal('100.00')),
 (484, Decimal('100.00')),
 (213, Decimal('79.92')),
 (134, Decimal('71.56')),
 (274, Decimal('64.48')),
 (144, Decimal('100.00')),
 (39, Decimal('48.00')),
 (801, Decimal('88.89')),
 (918, Decimal('10.00')),
 (163, Decimal('100.00')),
 (168, Decimal('85.73')),
 (223, Decimal('84.40')),
 (36, Decimal('100.00')),
 (287, Decimal('100.00')),
 (362, Decimal('103.49')),
 (221, Decimal('100.00')),
 (752, Decimal('100.00')),
 (102, Decimal('208.48')),
 (167, Decimal('130.50')),
 (158, Decimal('72.00')),
 (277, Decimal('71.78')),
 (594, Decimal('62.07')),
 (290, Decimal('165.12')),
 (683, Decimal('100.00')),
 (300, Decimal('100.00')),
 (118, Decimal('79.93')),
 (265, Decimal('100.00')),
 (284, Decimal('155.44')),
 (111, Decimal('100.00')),
 (16, Decimal('43.73')),
 (207, Decimal('100.00')),
 (62, Decimal('100.00')),
 (123, Decimal('78.63')),
 (126, Decimal('78.89')),
 (194, Decimal('70.50')),
 (385, Decimal('135.93')),
 (99, Decimal('64.38')),
 (367, Decimal('100.00')),
 (374, Decimal('48.13')),
 (1019, Decimal('100.00')),
 (41, Decimal('100.00')),
 (46, Decimal('100.00')),
 (206, Decimal('100.00')),
 (224, Decimal('100.00')),
 (586, Decimal('166.14')),
 (157, Decimal('100.00')),
 (32, Decimal('100.00')),
 (53, Decimal('100.00')),
 (275, Decimal('100.00')),
 (247, Decimal('100.00')),
 (260, Decimal('71.56')),
 (618, Decimal('0.00')),
 (100, Decimal('100.00')),
 (183, Decimal('100.00')),
 (136, Decimal('100.00')),
 (150, Decimal('100.00')),
 (354, Decimal('47.87')),
 (139, Decimal('50.00')),
 (140, Decimal('53.50')),
 (593, Decimal('7.00')),
 (12, Decimal('100.00')),
 (248, Decimal('100.00')),
 (137, Decimal('104.67')),
 (208, Decimal('100.00')),
 (293, Decimal('100.00')),
 (411, Decimal('46.93')),
 (392, Decimal('100.00')),
 (24, Decimal('100.00')),
 (191, Decimal('100.00')),
 (25, Decimal('36.89')),
 (122, Decimal('100.00')),
 (94, Decimal('100.00')),
 (141, Decimal('50.50')),
 (218, Decimal('100.00')),
 (154, Decimal('100.00')),
 (434, Decimal('47.60')),
 (49, Decimal('100.00')),
 (234, Decimal('72.22')),
 (211, Decimal('100.00')),
 (256, Decimal('56.00')),
 (449, Decimal('152.16')),
 (64, Decimal('100.00')),
 (264, Decimal('100.00')),
 (185, Decimal('90.36')),
 (215, Decimal('100.00')),
 (742, Decimal('82.89')),
 (55, Decimal('55.50')),
 (148, Decimal('54.50')),
 (130, Decimal('67.00')),
 (23, Decimal('100.00')),
 (270, Decimal('56.00')),
 (846, Decimal('195.48')),
 (486, Decimal('58.08'))]