In [1]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine

In [34]:
engine = create_engine('postgresql://ns:ns_pass@localhost/moodle')

In [11]:
# %sql postgresql://ns:ns_pass@localhost/moodle

'Connected: ns@moodle'

In [13]:
%%sql

select count(*)
from information_schema.tables
where table_schema = 'public';

 * postgresql://ns:***@localhost/moodle
1 rows affected.

[(448,)]

In [ ]:
mit = ['mdl_logstore_standard_log', 'mdl_context', 'mdl_user', 'mdl_course', 'mdl_modules' , 'mdl_course_modules', 'mdl_course_modules_completion',
       'mdl_grade_items', 'mdl_grade_grades', 'mdl_grade_categories', 'mdl_grade_items_history', 'mdl_grade_grades_history', 
       'mdl_grade_categories_history', 'mdl_forum', 'mdl_forum_discussions', 'mdl_forum_posts']

# %load_ext sql
def records_count(relation):
    count = %sql select count(*) as {relation} from {relation}
    return count

for table in mit:
    print(records_count(table))

In [ ]:
%%sql

SELECT Extract(HOUR FROM to_timestamp(timecreated)) AS hour, count(*) 
FROM mdl_logstore_standard_log where action='submitted' AND component like '%quiz%' GROUP BY hour;

In [20]:
%%sql

SELECT id, confirmed, deleted, lastaccess - firstaccess AS usagetime,
EXTRACT(MONTH FROM to_timestamp (firstaccess)) AS Month
FROM mdl_user WHERE confirmed = 1 AND deleted = 0 LIMIT 10;

 * postgresql://ns:***@localhost/moodle
10 rows affected.

[(1, 1, 0, 0, 1.0),
 (20, 1, 0, 13189566, 2.0),
 (15, 1, 0, 13903766, 2.0),
 (36, 1, 0, 9586676, 2.0),
 (44, 1, 0, 10458089, 2.0),
 (8, 1, 0, 1830649, 1.0),
 (13, 1, 0, 0, 1.0),
 (98, 1, 0, 12944059, 2.0),
 (28, 1, 0, 0, 1.0),
 (12, 1, 0, 0, 1.0)]

In [ ]:
%%sql

SELECT userid, COUNT(action) 
FROM mdl_logstore_standard_log 
WHERE action='loggedin' GROUP BY userid;

In [ ]:
# ['loggedin', 'viewed', 'started', 'submitted', 'uploaded', 'updated', 
#  'searched', 'resumed', 'answered', 'attempted', 'abandoned']

In [33]:
class DBHandler():
    def __init__(self):
        pass
    
    def open_local_db(self,**kwargs):
        #
        user = kwargs.get('user','ns')
        password = kwargs.get('password', 'ns_pass')
        db = kwargs.get('db','moodle')
        #
        try:
            params = dict(user=user,
                          password=password,
                          host = "127.0.0.1",
                          #port = "5432",
                          database = db)
            proot = 'postgresql://{user}:{password}@{host}/{database}'.format(**params)
            #print(proot)
#             logger.info('Connecting to the PostgreSQL database...using sqlalchemy engine')
            engine = create_engine(proot)
            #
        except (Exception, psycopg2.Error) as error :
            logger.error(f"Error while connecting to PostgreSQL {error}")
        self.dbisopen = True
        return engine
    def num_forum_posts(self):
        
db = DBHandler()
db.open_local_db()

Engine(postgresql://ns:***@127.0.0.1/moodle)